
.jumbotron {
	margin-top: 48px;
    height: 410px;
    background-image: url('jumbotron1.jpg'); 
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
}

.title {
	text-align: center;
	font-size: 35px;
	padding-bottom: 20px;
	padding-top: 20px;
	color: white;
	background-color: black;

}

.container {
	padding-left: 0px;
	padding-right: 0px;
}

.text {
	text-align: justify;
	font-size: 21px;
	padding-top: 30px;
}

img {
	display: block;
    margin: auto;
    padding-bottom: 30px;
}

.image-text {
	font-size: 20px;
	padding-left: 280px;
}

.table {
	padding-top: 40px;

}

p {
	text-align: justify;
	font-size: 21px;
	padding-top: 25px;

}

#map {
	text-align: center;
	width: 80%;
  	margin-left: auto;
  	margin-right: auto;
}

.footer-text {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 50px;
}

.footer {
	background-color: black;
	color:white;
	font-size: 15px;
	padding-top: 20px;
}

h5 {
	text-align: center;
}

